<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302781384648-p8qvgraagmq2ss6ahpfv0vum4tsrtrk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302781384648-p8qvgraagmq2ss6ahpfv0vum4tsrtrk5</string>
	<key>API_KEY</key>
	<string>AIzaSyAenVgo8efOCD7ZweKDaoftThe7_B5pujM</string>
	<key>GCM_SENDER_ID</key>
	<string>302781384648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moscowigor.FestellerAdm</string>
	<key>PROJECT_ID</key>
	<string>festeller-d4660</string>
	<key>STORAGE_BUCKET</key>
	<string>festeller-d4660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302781384648:ios:52720711e51f12cb</string>
	<key>DATABASE_URL</key>
	<string>https://festeller-d4660.firebaseio.com</string>
</dict>
</plist>